@use "src/styles/vars.scss" as vars;

.container {
  background: linear-gradient(180deg, vars.$pink 30%, vars.$blue 160%);
  min-height: 100vh;
  padding: 2.5rem;

  > h1 {
    font-style: normal;
    font-size: 2.8rem;
    font-weight: 600;
    color: vars.$white;
    text-align: center;
  }
}
