@use "src/styles/vars.scss" as vars;

.header{
  background-color: transparent;
  color: vars.$white;
  font-family: Rubik, sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  border-color: none;
  box-shadow: none;
}
.description{
  color: vars.$white;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  
  a, a:visited, a:hover{
    color: white;
  }
}