@use "src/styles/vars.scss" as vars;

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.heroContainer {
    background-image: linear-gradient(180deg, #100b44 15%, #a78590 98%);
    min-height: 100vh;
    font-family: Rubik, sans-serif;
    padding-top: 10px;

    .heroTitle{
        position: absolute;
    }

    .heroDescription{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin-top: 425px;
        
        .heroSubtitle{
            color: vars.$white;
            font-size: 40px;
            font-weight: bolder;
            margin-top: -20px;
            margin-bottom: 12px;
        }

        .heroInfo{
            color: vars.$white;
            font-size: 20px;
        }

    }
    .registerButton{
        color: #110F47;
        font-weight: bolder;
        background: none;
        border: 3px solid;
        border-radius: 8px;
        margin-top: 10px;
        
    }

    .heroPlanet{
        width: 400px;
        height: 400px;
        margin-left: auto;
        margin-top: -230px;
    }
}
