@use 'src/styles/vars.scss' as vars;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.container {
  background: linear-gradient(180deg, #9d7587 25%, #100b44 98%);
  min-height: 100vh;
  padding: 40px;
}
