@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.background{
    background-image: linear-gradient(180deg, #100b44 15%, #a78590 98%);
    min-height: 100vh;
    font-family: Rubik, sans-serif;
}

.faqContainer{
    color: white;
    margin: auto;
    width: 65%;
    padding-top: 100px;
    padding-bottom: 50px;


    .faqTitle{
        font-size: 65px;
    }

    .faqSubtitles{
        font-size: 25px;
        font-weight: bolder;
        display: flex;
        flex-direction: row;
        margin-top: -20px;
        
        .faqButton{
            padding-right: 20px;
            background: none;
            border: none;
            color: #8E90A4;
        }

        .faqButton:hover{
            cursor: pointer;
            color: white;
        }

        .activatedButton{
            padding-right: 20px;
            background: none;
            border: none;
            color: #FF8181;
        }
    }

    .faqBox{
        margin-top: 20px;
        max-width: 900px;
    }
}