@use "src/styles/vars.scss" as vars;
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.background {
  background-image: linear-gradient(180deg, vars.$blue 15%, vars.$pink 100%);
  min-height: 100vh;
  font-family: Rubik, sans-serif;
}

.faqContainer {
  color: white;
  margin: auto;
  width: 65%;
  padding-top: 10px;
  padding-bottom: 50px;

  .faqTitle {
    font-size: 65px;
  }

  .faqBox {
    margin-top: 20px;
    max-width: 900px;
  }
}
