@use "src/styles/vars.scss" as vars;

.container {
  background: linear-gradient(180deg, vars.$pink 0%, vars.$blue 95%);
  min-height: 100vh;
  padding: 40px;

  .content {
    position: relative;
    z-index: 9999;
  }
}
