.container {
  color: #f0f0f0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;

  .item {
    border-left: 8px solid #f0f0f0;
    padding-left: 25px;
    padding-top: 15px;
    width: 210px;
    > h1 {
      font-size: 70px;
      font-family: "Rubik", sans-serif;
      text-transform: capitalize;
      line-height: 50px;
    }

    > h3 {
      font-size: 23px;
      font-family: "Rubik", sans-serif;
      text-transform: capitalize;
      margin-bottom: 19px;
    }
  }
  @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;

    .item {
      border-left: 5px solid #f0f0f0;
      padding: 5px 0 0 15px;
      > h1 {
        font-size: 50px;
        margin: 0;
      }

      > h3 {
        margin-top: 10px;
        font-size: 20px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    margin-left: 2rem;
    margin-right: 2rem;
    .item {
      width: 170px;
    }
  }
  @media only screen and (max-width: 425px) {
    margin: 0;
    .item {
      width: 140px;
      > h1 {
        font-size: 45px;
      }
    }
  }
}
